<p>
<% if @eyd_constant.errors.any? %>
  <ul>
    <% @eyd_constant.errors.full_messages.each do |msg| %>
      <div class="status error">
        <p><img src="images/icons/icon_error.png" alt="Warning" />
        <span><%= msg%></span></p>
      </div>
    <% end %>
  </ul>
<% end %>
</p>
