<div class="contentcontainer">
  <div class="headings alt">
    <h2>Category Creating</h2>
  </div>
  <div class="contentbox">
    <%= form_for @eyd_constant, :url=> constant_update_path do |f| %>
      <%= render :partial=>'eyd_constant/error', :eyd_constant=>@eyd_constant%>
      <p>
      <label><strong>Category Name :</strong></label>
      <%= f.text_field :category, :class=>"inputbox"%>
      </p>
      <%= f.submit "Submit", :class=>"btn"%> <input type="reset" value="Reset" class="btn" />
    <% end %>
  </div>
</div>
<div id="footer">
  &copy; Copyright 2011 reserved by tim.tang
</div> 
