body {background: #E5E5E5 url(../images/bg_login_page.png) repeat-x top;}

#logincontainer {width: 385px;  margin: 0 auto; margin-top: 90px;}

#loginbox {border-radius: 20px; -moz-border-radius: 20px; background: #000 url(../images/bg_login_box.png) repeat-x top; border-bottom: 1px solid #fff;}
#loginheader {text-align: center; padding: 15px 0; background: url(../images/bg_login_header.png) repeat-x bottom; border-bottom: 1px solid #424242; border-top-left-radius: 20px; border-top-right-radius: 20px; -moz-border-radius-topright: 20px; -moz-border-radius-topleft: 20px;}

#innerlogin {width: 260px; margin: 0 auto; text-align: center; padding: 15px 20px 30px 20px;}
.logininput {width: 240px; padding: 17px 10px; border: 1px solid #fff; border-radius: 8px; -moz-border-radius: 8px; font-size: 15px; margin: 10px 0;}
#innerlogin p {color: #ddd; font-weight: 700; text-shadow: 1px 1px 1px #222;}

#innerlogin p a {background: #ccc url(../images/bg_forgotten_password.png) repeat-x top; text-shadow: 1px 1px 1px #fff; color: #666; font-size: 11px; padding: 4px 10px; border-radius: 5px; -moz-border-radius: 5px; text-decoration: none;}
#innerlogin p a:hover {background: #ccc url(../images/bg_forgotten_password.png) 0 -25px; color: #333;}

/* Status Bars */

.status {padding: 8px 10px 5px 10px; border-radius: 10px; -moz-border-radius: 10px; text-shadow: 1px 1px 1px #fff; overflow: auto; margin-bottom: 20px; clear: both;}
.status img {float: left; padding-right: 5px;}
.status p {padding: 0; margin: 0;}
.status p span {font-weight: 700;}
.status .closestatus {float: right; color: #fff; text-align: center; margin-left: 10px;}
.status .closestatus a {position: relative; color: #fff; text-decoration: none; padding: 5px; width: 10px; height: 10px; display: block; border-radius: 5px; -moz-border-radius: 5px; line-height: .6em; top: -2px; text-shadow: none;}

.warning {border: 3px solid #BF9900; background: #FEEB9C url(../images/bg_fade_yellow_med.png) repeat-x top;}
.warning span {color: #BF9900;}
.warning .closestatus a {background: #BF9900;}
.warning .closestatus a:hover {background: #9B7C00;}

