<div class="sidebar_box">
  <h3><%= t('.cloud_tag')%></h3>
  <ul class="tag_list">
    <div class="alphacloud">
      <% if @cloud_tags.length > 0%>
        <% tag_cloud(@cloud_tags, %w(common1 common2 common3 common4)) do |tag, css_class|%>
          <%= link_to tag.name, {:action=>:tag_list, :id=> tag.name}, :class=>css_class%>
        <% end %>
      <% else %>
        <%= content_tag :p, "No tags"%>
      <% end %>
    </div>
  </ul>
</div>
