  <div id="searcharea">
    <input type="text" class="searchbox" value="Search control panel..." onclick="if (this.value =='Search control panel...'){this.value=''}"/>
    <input type="submit" value="Search" class="searchbtn" />
  </div>
