<div id="header">
  <%= render :partial=>'eyd_admin/header', :object=>"xxx"%>
</div>

<div id="rightside">
    <%= yield%>
</div>

<div id="leftside">
  <%= render :partial=>'eyd_admin/sidebar', :object=>"xxx"%>
</div>
