<% cache 'archival_fragment'+session[:userId].to_s do %>
<div class="sidebar_box">
  <h3><%= t('.archivals')%></h3>
  <ul class="tmo_list">
    <% @archivals.each do |arch|%>
      <% @arch_date = arch.year.to_s+"-"+arch.month.to_s%>
      <li><%= image_tag("archive.png")%><%= link_to @arch_date, {:action =>:archival_list, :id=>@arch_date, :controller=>:eydf_share}%> (<%= arch.count%> blogs)</li>
    <% end %>
  </ul>
</div>
<% end %>
