<% cache 'category_fragment'+session[:userId].to_s do%>
<div class="sidebar_box">
  <h3><%= t('.categories')%></h3>
  <ul class="tmo_list">
    <% @constants.each do |const|%>
      <li><%= image_tag("category_list.png")%><%= link_to const.category, {:action => :category_list, :id=> const.id, :controller=>:eydf_share}%>( <%= const.eyd_blogs.count%> blogs)</li>
    <% end %>
  </ul>
</div>
<% end %>
