<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="ruby,rails,linux,ubuntu,yoyo,git" />
    <meta name="description" content="Everyday Rails|Ubuntu|Git|Vim|Mongodb" />
    <meta name="robots" content="ruby on rails,git,yoyo,mongodb,blog" />
    <title>Everyday | [Rails|Ubuntu|Git|Vim]</title>
    <link rel="shortcut icon" type="image/png" href="favicon.ico" />
    <%= stylesheet_link_tag "login.css", :media => "screen" %>
    <%= stylesheet_link_tag "styles.css", :media => "screen" %>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
