<!DOCTYPE html>
<html>
  <head>
    <title>Everyday</title>
    <%= stylesheet_link_tag "login.css", :media => "screen" %>
    <%= stylesheet_link_tag "styles.css", :media => "screen" %>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
